@tailwind base;
@tailwind utilities;
@tailwind components;

@layer base {

    html {
        font-family: 'Be Vietnam Pro', sans-serif;
    }

    body::-webkit-scrollbar {
        width: 0.4rem;
    }

    body::-webkit-scrollbar-thumb:vertical {
        border-radius: 1rem;
        background-color: hsl(12, 88%, 59%);
    }

    body::-webkit-scrollbar-track-piece {
        margin: 0.3rem 0;
    }
}

@layer utilities {
    .scroll-comment::-webkit-scrollbar {
        height: 0.35rem;
        background-color: hsl(13, 100%, 96%);
    }

    .scroll-comment::-webkit-scrollbar-thumb {
        border-radius: 1rem;
        background-color: hsl(12, 88%, 59%);
    }
}
